.main{
    margin-top: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;

    @media screen and (min-width: 1024px){
        width: 50%;
    }
    @media screen and (min-width: 1024px){
        padding: 0 110px;
        gap: 25px;
    }

    .brand{
        color: $orange;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        letter-spacing: 2px;
        user-select: none;
        @media screen and (min-width: 768px){
            font-size: 16px;
        }
    }

    .product-name{
        color: $very-dark-blue;
        font-size: 30px;
        @media screen and (min-width: 768px){
            font-size: 37px;
        }
    }

    .product-description{
        color: $dark-grayish-blue;
        font-weight: 500;
        @media screen and (min-width: 768px){
            font-size: 19px;
        }
    }

    .prices{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (min-width: 1024px){
            flex-direction: column;
            align-items: start;
            gap: 10px;
        }

        div{
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .current-price{
            color: $very-dark-blue;
            font-size: 27px;
            font-weight: 700;
            @media screen and (min-width: 768px){
                font-size: 33px;
            }
        }

        .discount{
            color: $orange;
            font-weight: 700;
            font-size: 16px;
            background-color: $pale-orange;
            padding: 5px 9px;
            border-radius: 5px; 
            @media screen and (min-width: 768px){
                font-size: 21px;
            }
        }

        .old-price{
            font-size: 16px;
            text-decoration: line-through;
            color: $grayish-blue;
            font-weight: 700;
            @media screen and (min-width: 768px){
                font-size: 21px;
            }
        }
    }

    .buttons{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media screen and (min-width: 1024px){
            width: 100%;
            flex-direction: row;
        }
    }
    

    .count{
        user-select: none;
        background-color: $light-grayish-blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        height: 55px;
        padding: 0 20px;
        border-radius: 10px;
        color: $very-dark-blue;
        flex-grow: 1;
        @media screen and (min-width: 768px){
            height: 65px;
            font-size: 20px;
        }

        .minus-plus{
            font-size: 28px;
            color: $orange;
            cursor: pointer;
            @media screen and (min-width: 768px){
                font-size: 27px;
            }

            &:active{
                transform: scale(0.83);
            }
        }
    }
    
    .add-cart-button{
        flex-grow: 2;
        background-color: $orange;
        border: none;
        display: inline;
        height: 55px;
        border-radius: 10px;
        color: $white;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 17px;
        box-shadow: 0 5px 20px 5px rgba(255, 60, 0, 0.3);
        cursor: pointer;
        @media screen and (min-width: 768px){
            height: 65px;
            font-size: 18px;
        }

        .cart-icon{
            font-size: 23px;
        }

        &:hover{
            background-color: lighten($color: $orange, $amount: 8);
        }

        &:active{
            transform: scale(0.98);
        }
    }
}
