header {
  color: hsl(220, 13%, 13%);
  padding: 13px 20px;
  display: flex;
  background-color: hsl(0, 0%, 100%);
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 550px) {
  header {
    padding: 20px;
  }
}
@media screen and (min-width: 768px) {
  header {
    padding: 25px 20px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    border-bottom: 1px solid #e2e4e9;
    padding-bottom: 40px;
    margin-bottom: 80px;
  }
}
header div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (min-width: 768px) {
  header div {
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  header div {
    gap: 30px;
  }
}
header .logo {
  font-size: 30px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (min-width: 768px) {
  header .logo {
    font-size: 38px;
  }
}
@media screen and (min-width: 1024px) {
  header .logo {
    order: 1;
  }
}
header .header-icons {
  font-size: 23px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  header .header-icons {
    font-size: 30px;
  }
}
header .menu-icon {
  font-size: 26px;
  color: hsl(219, 9%, 45%);
  z-index: 1000;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  header .menu-icon {
    font-size: 35px;
  }
}
@media screen and (min-width: 1024px) {
  header .menu-icon {
    display: none;
  }
}
header #cart-icon {
  position: relative;
}
header .ballon {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  bottom: 14px;
  left: 13px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(26, 100%, 55%);
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  header .ballon {
    width: 20px;
    height: 20px;
    bottom: 19px;
    left: 18px;
  }
}
header .menu-container {
  z-index: 10;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  top: 0;
  left: 0;
  padding-top: 90px;
  padding-left: 20px;
  width: 60%;
  height: 100%;
  gap: 21px;
  box-shadow: 37px 0 77px 77px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  header .menu-container {
    width: 50%;
    padding-top: 120px;
  }
}
@media screen and (min-width: 1024px) {
  header .menu-container {
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
    order: 2;
    padding: 0;
    margin-left: 50px;
  }
}
header .menu-container .menu-opt {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (min-width: 768px) {
  header .menu-container .menu-opt {
    font-size: 27px;
  }
}
@media screen and (min-width: 1024px) {
  header .menu-container .menu-opt {
    font-size: 17px;
    font-weight: 500;
    color: hsl(219, 9%, 45%);
  }
}
header .menu-container .menu-opt:hover {
  color: hsl(220, 14%, 75%);
}

@keyframes showMenu {
  0% {
    transform: translateX(-100%);
  }
}
.images-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.25s;
  position: relative;
}
@media screen and (min-width: 550px) {
  .images-container {
    height: 500px;
  }
}
@media screen and (min-width: 768px) {
  .images-container {
    height: 700px;
  }
}
@media screen and (min-width: 1024px) {
  .images-container {
    width: 500px;
    height: -moz-max-content;
    height: max-content;
    gap: 25px;
  }
}
.images-container .main-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .images-container .main-image {
    height: 500px;
    border-radius: 15px;
  }
}
.images-container .icons {
  display: inline;
  padding: 7px;
  font-size: 40px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  transition: all 0.1s;
}
@media screen and (min-width: 768px) {
  .images-container .icons {
    font-size: 55px;
  }
}
@media screen and (min-width: 1024px) {
  .images-container .icons {
    display: none;
  }
}
.images-container .icons:active {
  transform: scale(0.9);
}

.carrosel {
  display: none;
}
@media screen and (min-width: 1024px) {
  .carrosel {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.carrosel picture {
  width: 90px;
  height: 90px;
  position: relative;
}
.carrosel picture .white {
  display: none;
}
.carrosel .carrosel-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
}
.carrosel .selected {
  outline: 2px solid hsl(26, 100%, 55%);
}
.carrosel .selected ~ .white {
  border-radius: 8px;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.main {
  margin-top: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .main {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    padding: 0 110px;
    gap: 25px;
  }
}
.main .brand {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (min-width: 768px) {
  .main .brand {
    font-size: 16px;
  }
}
.main .product-name {
  color: hsl(220, 13%, 13%);
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .main .product-name {
    font-size: 37px;
  }
}
.main .product-descripition {
  color: hsl(219, 9%, 45%);
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .main .product-descripition {
    font-size: 19px;
  }
}
.main .prices {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .main .prices {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}
.main .prices div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main .prices .current-price {
  color: hsl(220, 13%, 13%);
  font-size: 27px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .main .prices .current-price {
    font-size: 33px;
  }
}
.main .prices .discount {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: 16px;
  background-color: hsl(25, 100%, 94%);
  padding: 5px 9px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .main .prices .discount {
    font-size: 21px;
  }
}
.main .prices .old-price {
  font-size: 16px;
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .main .prices .old-price {
    font-size: 21px;
  }
}
.main .buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .main .buttons {
    width: 100%;
    flex-direction: row;
  }
}
.main .amount {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: hsl(223, 64%, 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  height: 55px;
  padding: 0 20px;
  border-radius: 10px;
  color: hsl(220, 13%, 13%);
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .main .amount {
    height: 65px;
    font-size: 20px;
  }
}
.main .amount .minus-plus {
  font-size: 28px;
  color: hsl(26, 100%, 55%);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .main .amount .minus-plus {
    font-size: 27px;
  }
}
.main .amount .minus-plus:active {
  transform: scale(0.83);
}
.main .add-cart-button {
  flex-grow: 2;
  background-color: hsl(26, 100%, 55%);
  border: none;
  display: inline;
  height: 55px;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 17px;
  box-shadow: 0 5px 20px 5px rgba(255, 60, 0, 0.3);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .main .add-cart-button {
    height: 65px;
    font-size: 18px;
  }
}
.main .add-cart-button .cart-icon {
  font-size: 23px;
}
.main .add-cart-button:hover {
  background-color: #ff9442;
}
.main .add-cart-button:active {
  transform: scale(0.98);
}

.cart-container {
  background-color: hsl(0, 0%, 100%);
  width: 95%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 75px;
  transform: translateX(-50%);
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .cart-container {
    top: 115px;
  }
}
@media screen and (min-width: 1024px) {
  .cart-container {
    width: 420px;
    left: 81%;
    box-shadow: 0 8px 20px 10px rgba(0, 0, 0, 0.123);
    top: 88px;
  }
}
.cart-container .cart-txt {
  color: hsl(220, 13%, 13%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  padding: 20px;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (min-width: 768px) {
  .cart-container .cart-txt {
    font-size: 21px;
    padding: 24px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .cart-container .cart-txt {
    font-size: 19px;
  }
}
.cart-container .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  color: hsl(219, 9%, 45%);
  font-weight: 500;
}
.cart-container .item .item-thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .cart-container .item .item-thumbnail {
    width: 85px;
    height: 85px;
  }
}
@media screen and (min-width: 1024px) {
  .cart-container .item .item-thumbnail {
    height: 70px;
    width: 70px;
  }
}
.cart-container .item .item-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .cart-container .item .item-info {
    font-size: 21px;
  }
}
@media screen and (min-width: 1024px) {
  .cart-container .item .item-info {
    font-size: 19px;
  }
}
.cart-container .item .item-info .item-prices {
  display: flex;
  gap: 8px;
}
.cart-container .item .item-info .full-price {
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}
.cart-container .item .trash-icon {
  color: hsl(220, 14%, 75%);
  font-size: 19px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .cart-container .item .trash-icon {
    font-size: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .cart-container .item .trash-icon {
    font-size: 20px;
  }
}
.cart-container .item .trash-icon:active {
  transform: scale(0.93);
}
.cart-container .no-items {
  text-align: center;
  color: hsl(219, 9%, 45%);
  font-weight: 500;
  margin: 35px 0;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .cart-container .no-items {
    font-size: 21px;
    padding: 10px 0;
  }
}
@media screen and (min-width: 1024px) {
  .cart-container .no-items {
    font-size: 19px;
  }
}
.cart-container .checkout-button {
  background-color: hsl(26, 100%, 55%);
  margin: 15px;
  margin-bottom: 30px;
  height: 55px;
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .cart-container .checkout-button {
    font-size: 18px;
    height: 65px;
  }
}
@media screen and (min-width: 1024px) {
  .cart-container .checkout-button {
    font-size: 17px;
    height: 60px;
  }
}
.cart-container .checkout-button:hover {
  background-color: #ff9442;
}
.cart-container .checkout-button:active {
  transform: scale(0.98);
}

.home {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .main-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=home.css.map */