.info-block{
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.123);
    padding: 30px 20px;
    margin-top: 35px;
    padding-bottom: 55px;
    position: relative;

    h2{
        text-transform: capitalize;
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 40px;

        @media screen and (min-width: 768px){
            font-size: 22px;
        }
    }

    .inputs-container{
        display: flex;
        flex-direction: column;
        gap: 60px;

    }

    .radios-container{
        @extend .inputs-container;
        gap: 25px
    }

    &.shipping{
        @media screen and (min-width: 768px){
            .inputs-container{
                display: grid;
                grid-template-columns: 2;
                grid-template-rows: 2;

                .input-group:nth-child(1){
                    grid-column-start: 1;
                    grid-column-end: 1;
                    grid-row-start: 1;
                    grid-row-end: 1;
                }

                .input-group:nth-child(2){
                    grid-column-start: 2;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 1;
                }

                .input-group:nth-child(3){
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 2;
                    grid-row-end: 2;
                    width: calc(200% + 60px);
                }

                .input-group:nth-child(4){
                    grid-column-start: 1;
                    grid-column-end: 1;
                    grid-row-start: 4;
                    grid-row-end: 4;
                }

                .input-group:nth-child(5){
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 3;
                    grid-row-end: 3;
                    width: calc(200% + 60px);
                }

                .input-group:nth-child(6){
                    grid-column-start: 2;
                    grid-column-end: 2;
                    grid-row-start: 4;
                    grid-row-end: 4;
                }

                .input-group:nth-child(7){
                    grid-column-start: 1;
                    grid-column-end: 1;
                    grid-row-start: 5;
                    grid-row-end: 5;
                }

                .input-group:nth-child(8){
                    grid-column-start: 2;
                    grid-column-end: 2;
                    grid-row-start: 5;
                    grid-row-end: 5;
                }

            }
        }
    }

    &.ship-methods{
        @media screen and (min-width: 768px){
            .radios-container{
                width: 100%;
                justify-content: space-between;
                gap: 20px;
                flex-direction: row;
            }
        }
    }
}

