.info-block{
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.123);
    padding: 30px 20px;
    margin-top: 35px;
    padding-bottom: 55px;
    position: relative;

    h2{
        text-transform: capitalize;
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .inputs-container{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .radios-container{
        @extend .inputs-container;
        gap: 25px
    }
}

