.input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
  
    input {
      font-size: 16px;
      color: $very-dark-blue;
      width: 100%;
      padding: 12px 15px;
      border-radius: 10px;
      border: 2px solid $dark-grayish-blue;
      outline: none;
    }
  
    .placeholder {
      position: absolute;
      margin: 17px 0;
      padding: 0 5px;
      color: $dark-grayish-blue;
      display: flex;
      align-items: center;
      font-size: 16px;
      left: 40px;
      transition: all 0.2s;
      transform: scale(0.9) translateY(-27px);
      transform-origin: 0% 0%;
      background: transparent;
      pointer-events: none;
      background: $white;
    }

    .warning{
      position: absolute;
      font-size: 15px;
      color: $red;
      bottom: -25px;
    }
  }
