.method{
    border: 2px solid $dark-grayish-blue;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    line-height: 18px;
    justify-content: space-between;
    cursor: pointer;

    &.selected{
        border-color: $orange;
    }

    .method-price{
        font-weight: 700;
    }

    .method-description{
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: $dark-grayish-blue;
    }
}


.warning{
    position: absolute;
    font-size: 15px;
    color: $red;
    bottom: 25px;
}