.payment{

    .payment-name{
        font-weight: 700;
    }

    .payment-icon{
        border: 2px solid $dark-grayish-blue;
        width: 34px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .paypal{
        cursor: pointer;
        width: 100%;
        border: 2px solid $dark-grayish-blue;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        line-height: 18px;
        justify-content: space-between;

        .paypal-explain{
            font-size: 13px;
            width: max-content;
            flex-basis: 60%;
            color: $dark-grayish-blue;
        }
    }

    .credit-card{
        cursor: pointer;
        width: 100%;
        border: 2px solid $dark-grayish-blue;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        .input-name{
            display: flex;
            gap: 8px;
        }

        .visible{
            display: flex;
            justify-content: space-between;

            .icons{
                @extend .visible;
                gap: 2px;
            }
        }

        .card-inputs{
            margin-top: 35px;
            margin-bottom: 45px;
        }
    }
    

    .paypal, .credit-card{
        &.selected{
            border-color: $orange;
        }
    }

    .safe{
        margin-top: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;

        .lock-icon{
            color: $orange;
            border: 1px solid $orange;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 3px;
        }

        span{
            width: 90%;
            font-size: 14px;
            color: $dark-grayish-blue;
        }
    }

}