.payment{

    .payment-name{
        font-weight: 700;
        @media screen and (min-width: 768px){
            font-size: 20px;
        }
    }

    .payment-icon{
        border: 2px solid $dark-grayish-blue;
        width: 34px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        @media screen and (min-width: 768px){
            width: 54px;
            height: 33px;

        }
    }

    .paypal{
        cursor: pointer;
        width: 100%;
        border: 2px solid $dark-grayish-blue;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        line-height: 18px;
        justify-content: space-between;

        .paypal-explain{
            font-size: 13px;
            width: max-content;
            flex-basis: 60%;
            color: $dark-grayish-blue;

            @media screen and (min-width: 768px){
                font-size: 17px;
            }
        }
    }

    .input-name{
        display: flex;
        gap: 8px;

        @media screen and (min-width: 768px){
            gap: 12px;
        }
    }

    .credit-card{
        cursor: pointer;
        width: 100%;
        border: 2px solid $dark-grayish-blue;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        .visible{
            display: flex;
            justify-content: space-between;

            .icons{
                @extend .visible;
                gap: 2px;
            }
        }

        .card-inputs{
            margin-top: 35px;
            margin-bottom: 45px;

            @media screen and (min-width: 768px){
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
    

    .paypal, .credit-card{
        &.selected{
            border-color: $orange;
        }
    }

    .safe{
        margin-top: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;

        .lock-icon{
            color: $orange;
            border: 1px solid $orange;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 3px;

            @media screen and (min-width: 768px){
                width: 40px;
                height: 40px;
            }
        }

        span{
            width: 90%;
            font-size: 14px;
            color: $dark-grayish-blue;
            @media screen and (min-width: 768px){
                font-size: 16px;
            }
        }
    }

}