.summary{


    .summary-list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
        margin-bottom: 30px;

        li{
            display: flex;
            width: 100%;
            justify-content: space-between;

            .key{
                color: $dark-grayish-blue;
                font-size: 17px;
                font-weight: 500;
            }

            .value{
                color: darken($color: $very-dark-blue, $amount: 10);
                font-weight: 500;
                font-size: 17px;
            }
        }
    }

    .grand-total{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid transparentize($color: $dark-grayish-blue, $amount: 0.7);
        padding-top: 30px;
        color: $black;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .checkbox-group{
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 5px;

        label{
            strong{
                color: $orange;
                font-weight: 500;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .warning{
            position: absolute;
            font-size: 15px;
            color: $red;
            bottom: -25px;
          }
    }

    .submit-button{
        flex-grow: 2;
        background-color: $orange;
        border: none;
        display: inline;
        height: 55px;
        border-radius: 10px;
        color: $white;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 17px;
        box-shadow: 0 5px 20px 5px rgba(255, 60, 0, 0.3);
        cursor: pointer;

        &:hover{
            background-color: lighten($color: $orange, $amount: 8);
        }

        &:active{
            transform: scale(0.98);
        }
    }
}