.shipping {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.method {
  border: 2px solid hsl(219, 9%, 45%);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  line-height: 18px;
  justify-content: space-between;
  cursor: pointer;
}
.method.selected {
  border-color: hsl(26, 98%, 55%);
}
.method .method-price {
  font-weight: 700;
}
.method .method-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: hsl(219, 9%, 45%);
}

.warning {
  position: absolute;
  font-size: 15px;
  color: rgb(235, 68, 68);
  bottom: 25px;
}

.info-block {
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.123);
  padding: 30px 20px;
  margin-top: 35px;
  padding-bottom: 55px;
  position: relative;
}
.info-block h2 {
  text-transform: capitalize;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 40px;
}
.info-block .inputs-container, .info-block .radios-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.info-block .radios-container {
  gap: 25px;
}

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.input-group input {
  font-size: 16px;
  color: hsl(220, 13%, 13%);
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 2px solid hsl(219, 9%, 45%);
  outline: none;
}
.input-group .placeholder {
  position: absolute;
  margin: 17px 0;
  padding: 0 5px;
  color: hsl(219, 9%, 45%);
  display: flex;
  align-items: center;
  font-size: 16px;
  left: 40px;
  transition: all 0.2s;
  transform: scale(0.9) translateY(-27px);
  transform-origin: 0% 0%;
  background: transparent;
  pointer-events: none;
  background: hsl(0, 0%, 100%);
}
.input-group .warning {
  position: absolute;
  font-size: 15px;
  color: rgb(235, 68, 68);
  bottom: -25px;
}

.payment .payment-name {
  font-weight: 700;
}
.payment .payment-icon {
  border: 2px solid hsl(219, 9%, 45%);
  width: 34px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.payment .paypal {
  cursor: pointer;
  width: 100%;
  border: 2px solid hsl(219, 9%, 45%);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  line-height: 18px;
  justify-content: space-between;
}
.payment .paypal .paypal-explain {
  font-size: 13px;
  width: -moz-max-content;
  width: max-content;
  flex-basis: 60%;
  color: hsl(219, 9%, 45%);
}
.payment .credit-card {
  cursor: pointer;
  width: 100%;
  border: 2px solid hsl(219, 9%, 45%);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.payment .credit-card .input-name {
  display: flex;
  gap: 8px;
}
.payment .credit-card .visible, .payment .credit-card .visible .icons {
  display: flex;
  justify-content: space-between;
}
.payment .credit-card .visible .icons {
  gap: 2px;
}
.payment .credit-card .card-inputs {
  margin-top: 35px;
  margin-bottom: 45px;
}
.payment .paypal.selected, .payment .credit-card.selected {
  border-color: hsl(26, 98%, 55%);
}
.payment .safe {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.payment .safe .lock-icon {
  color: hsl(26, 98%, 55%);
  border: 1px solid hsl(26, 98%, 55%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 3px;
}
.payment .safe span {
  width: 90%;
  font-size: 14px;
  color: hsl(219, 9%, 45%);
}

.order-review .order {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.order-review .order picture {
  width: 80px;
  height: 80px;
}
.order-review .order picture img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.order-review .order .name-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
.order-review .order .name-buttons .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.order-review .order .name-buttons .buttons span {
  font-size: 20px;
  font-weight: 500;
}
.order-review .order .name-buttons .buttons button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  border: 2px solid rgba(104, 112, 125, 0.6);
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-review .order .price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.order-review .order .price .price {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 2px;
}
.order-review .order .price .old-price {
  font-weight: 500;
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}
.order-review .order .price .current-price {
  font-weight: 700;
  font-size: 19px;
}

.summary .summary-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin-bottom: 30px;
}
.summary .summary-list li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.summary .summary-list li .key {
  color: hsl(219, 9%, 45%);
  font-size: 17px;
  font-weight: 500;
}
.summary .summary-list li .value {
  color: #070709;
  font-weight: 500;
  font-size: 17px;
}
.summary .grand-total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(104, 112, 125, 0.3);
  padding-top: 30px;
  color: hsl(0, 0%, 0%);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}
.summary .checkbox-group {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.summary .checkbox-group label strong {
  color: hsl(26, 98%, 55%);
  font-weight: 500;
  cursor: pointer;
}
.summary .checkbox-group label strong:hover {
  text-decoration: underline;
}

.checkout {
  padding-bottom: 100px;
}

input[type=radio], input[type=checkbox] {
  width: 17px;
  height: 17px;
  accent-color: #f26a02;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=checkout.css.map */