.method {
  border: 2px solid hsl(219, 9%, 45%);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  line-height: 18px;
  justify-content: space-between;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .method {
    width: 50%;
    font-size: 18px;
  }
}
.method.selected {
  border-color: hsl(26, 98%, 55%);
}
.method .method-price {
  font-weight: 700;
}
.method .method-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: hsl(219, 9%, 45%);
}

.warning {
  position: absolute;
  font-size: 15px;
  color: rgb(235, 68, 68);
  bottom: 25px;
}

.info-block {
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.123);
  padding: 30px 20px;
  margin-top: 35px;
  padding-bottom: 55px;
  position: relative;
}
.info-block h2 {
  text-transform: capitalize;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .info-block h2 {
    font-size: 22px;
  }
}
.info-block .inputs-container, .info-block .radios-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.info-block .radios-container {
  gap: 25px;
}
@media screen and (min-width: 768px) {
  .info-block.shipping .inputs-container, .info-block.shipping .radios-container {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
  }
  .info-block.shipping .inputs-container .input-group:nth-child(1), .info-block.shipping .radios-container .input-group:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .info-block.shipping .inputs-container .input-group:nth-child(2), .info-block.shipping .radios-container .input-group:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .info-block.shipping .inputs-container .input-group:nth-child(3), .info-block.shipping .radios-container .input-group:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    width: calc(200% + 60px);
  }
  .info-block.shipping .inputs-container .input-group:nth-child(4), .info-block.shipping .radios-container .input-group:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .info-block.shipping .inputs-container .input-group:nth-child(5), .info-block.shipping .radios-container .input-group:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    width: calc(200% + 60px);
  }
  .info-block.shipping .inputs-container .input-group:nth-child(6), .info-block.shipping .radios-container .input-group:nth-child(6) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .info-block.shipping .inputs-container .input-group:nth-child(7), .info-block.shipping .radios-container .input-group:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
  }
  .info-block.shipping .inputs-container .input-group:nth-child(8), .info-block.shipping .radios-container .input-group:nth-child(8) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
  }
}
@media screen and (min-width: 768px) {
  .info-block.ship-methods .radios-container {
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-direction: row;
  }
}

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.input-group input {
  font-size: 16px;
  color: hsl(220, 13%, 13%);
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 2px solid hsl(219, 9%, 45%);
  outline: none;
}
@media screen and (min-width: 768px) {
  .input-group input {
    padding: 16px 15px;
    font-size: 20px;
  }
}
.input-group .placeholder {
  position: absolute;
  margin: 17px 0;
  padding: 0 5px;
  color: hsl(219, 9%, 45%);
  display: flex;
  align-items: center;
  font-size: 15px;
  left: 40px;
  transition: all 0.2s;
  transform: scale(0.9) translateY(-27px);
  transform-origin: 0% 0%;
  background: transparent;
  pointer-events: none;
  background: hsl(0, 0%, 100%);
}
@media screen and (min-width: 768px) {
  .input-group .placeholder {
    font-size: 17px;
    transform: translateY(-31px);
  }
}
.input-group .warning {
  position: absolute;
  font-size: 15px;
  color: rgb(235, 68, 68);
  bottom: -25px;
}
@media screen and (min-width: 768px) {
  .input-group .warning {
    font-size: 16px;
  }
}

.payment .payment-name {
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .payment .payment-name {
    font-size: 20px;
  }
}
.payment .payment-icon {
  border: 2px solid hsl(219, 9%, 45%);
  width: 34px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .payment .payment-icon {
    width: 54px;
    height: 33px;
  }
}
.payment .paypal {
  cursor: pointer;
  width: 100%;
  border: 2px solid hsl(219, 9%, 45%);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  line-height: 18px;
  justify-content: space-between;
}
.payment .paypal .paypal-explain {
  font-size: 13px;
  width: -moz-max-content;
  width: max-content;
  flex-basis: 60%;
  color: hsl(219, 9%, 45%);
}
@media screen and (min-width: 768px) {
  .payment .paypal .paypal-explain {
    font-size: 17px;
  }
}
.payment .input-name {
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .payment .input-name {
    gap: 12px;
  }
}
.payment .credit-card {
  cursor: pointer;
  width: 100%;
  border: 2px solid hsl(219, 9%, 45%);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.payment .credit-card .visible, .payment .credit-card .visible .icons {
  display: flex;
  justify-content: space-between;
}
.payment .credit-card .visible .icons {
  gap: 2px;
}
.payment .credit-card .card-inputs {
  margin-top: 35px;
  margin-bottom: 45px;
}
@media screen and (min-width: 768px) {
  .payment .credit-card .card-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.payment .paypal.selected, .payment .credit-card.selected {
  border-color: hsl(26, 98%, 55%);
}
.payment .safe {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.payment .safe .lock-icon {
  color: hsl(26, 98%, 55%);
  border: 1px solid hsl(26, 98%, 55%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 3px;
}
@media screen and (min-width: 768px) {
  .payment .safe .lock-icon {
    width: 40px;
    height: 40px;
  }
}
.payment .safe span {
  width: 90%;
  font-size: 14px;
  color: hsl(219, 9%, 45%);
}
@media screen and (min-width: 768px) {
  .payment .safe span {
    font-size: 16px;
  }
}

.order-review .order {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.order-review .order picture {
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .order-review .order picture {
    width: 120px;
    height: 120px;
  }
}
.order-review .order picture img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.order-review .order .img-buttons {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .order-review .order .img-buttons {
    gap: 40px;
  }
}
.order-review .order .name-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
.order-review .order .name-buttons .name {
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .order-review .order .name-buttons .name {
    font-weight: 500;
    font-size: 20px;
  }
}
.order-review .order .name-buttons .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.order-review .order .name-buttons .buttons span {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .order-review .order .name-buttons .buttons span {
    font-size: 29px;
  }
}
.order-review .order .name-buttons .buttons button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  border: 2px solid rgba(104, 112, 125, 0.6);
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .order-review .order .name-buttons .buttons button {
    width: 50px;
    height: 50px;
  }
}
.order-review .order .price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.order-review .order .price .price {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 2px;
}
.order-review .order .price .old-price {
  font-weight: 500;
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}
@media screen and (min-width: 768px) {
  .order-review .order .price .old-price {
    font-size: 22px;
  }
}
.order-review .order .price .current-price {
  font-weight: 700;
  font-size: 19px;
}
@media screen and (min-width: 768px) {
  .order-review .order .price .current-price {
    font-size: 29px;
  }
}

.summary .summary-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin-bottom: 30px;
}
.summary .summary-list li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.summary .summary-list li .key {
  color: hsl(219, 9%, 45%);
  font-size: 17px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .summary .summary-list li .key {
    font-size: 20px;
  }
}
.summary .summary-list li .value {
  color: #070709;
  font-weight: 500;
  font-size: 17px;
}
@media screen and (min-width: 768px) {
  .summary .summary-list li .value {
    font-size: 20px;
  }
}
.summary .grand-total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(104, 112, 125, 0.3);
  padding-top: 30px;
  color: hsl(0, 0%, 0%);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .summary .grand-total {
    font-size: 28px;
  }
}
.summary .checkbox-group {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
@media screen and (min-width: 768px) {
  .summary .checkbox-group {
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .summary .checkbox-group label {
    font-size: 19px;
  }
}
.summary .checkbox-group label strong {
  color: hsl(26, 98%, 55%);
  font-weight: 500;
  cursor: pointer;
}
.summary .checkbox-group label strong:hover {
  text-decoration: underline;
}
.summary .checkbox-group .warning {
  position: absolute;
  font-size: 15px;
  color: rgb(235, 68, 68);
  bottom: -25px;
}
.summary .submit-button {
  flex-grow: 2;
  background-color: hsl(26, 98%, 55%);
  border: none;
  display: inline;
  height: 55px;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 17px;
  box-shadow: 0 5px 20px 5px rgba(255, 60, 0, 0.3);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .summary .submit-button {
    height: 65px;
    font-size: 18px;
  }
}
.summary .submit-button:hover {
  background-color: #fd9444;
}
.summary .submit-button:active {
  transform: scale(0.98);
}

.checkout {
  padding-bottom: 50px;
}

input[type=radio], input[type=checkbox] {
  width: 17px;
  height: 17px;
  accent-color: #f26a02;
}
@media screen and (min-width: 768px) {
  input[type=radio], input[type=checkbox] {
    width: 19px;
    height: 19px;
  }
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  input[type=checkbox] {
    width: 23px;
    height: 23px;
  }
}/*# sourceMappingURL=checkout.css.map */