$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$orange: hsl(26, 98%, 55%);
$red: rgb(235, 68, 68);
$pale-orange: hsl(25, 100%, 94%);

@import 'shipping', 'methods', 'info-block', 'input-group', 'payment', 'order-review';


.checkout{
    padding-bottom: 100px;
}

input[type="radio"]{
    width: 17px;
    height: 17px;
    accent-color: darken($orange, 7);
}