header{
    color: $very-dark-blue;
    padding: 20px;
    display: flex;
    background-color: $white;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.123);

    @media screen and (min-width: 550px){
        padding: 20px;
    }
    @media screen and (min-width: 768px){
        padding: 25px 20px;
    }

    @media screen and (min-width: 1024px){
        border-bottom: 1px solid lighten($color: $grayish-blue, $amount: 15);
        // box-shadow: none;
        padding-bottom: 40px;
        margin-bottom: 80px;
    }

    .container{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 25px;
        width: max-content;
        @media screen and (min-width: 768px){
            gap: 50px;
        }
        @media screen and (min-width: 1024px){
            gap: 30px;
        }
    }

    .logo{
        font-size: 30px;
        font-weight: 700;
        user-select: none;
        @media screen and (min-width: 768px){
            font-size: 38px;
        }
        @media screen and (min-width: 1024px){
            order: 1;       
        }
    }

    .header-icons{
        font-size: 23px;
        cursor: pointer;
        @media screen and (min-width: 768px){
            font-size: 30px;
        }
    }

    .menu-icon{
        font-size: 26px;
        color: $dark-grayish-blue;
        z-index: 1000;
        cursor: pointer;
        
        @media screen and (min-width: 768px){
            font-size: 35px;
        }
        @media screen and (min-width: 1024px){
            display: none;
        }
    }

    #cart-icon{
        position: relative;
    }

    .ballon{
        user-select: none;
        font-size: 10px;
        font-weight: 700;
        position: absolute;
        bottom: 14px;
        left: 13px;
        color: $white;
        background-color: $orange;
        width: 14px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;

        @media screen and (min-width: 768px){
            width: 20px;
            height: 20px;
            bottom: 19px;
            left: 18px;
        }
    }

}